<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="person">
	<!-- 1) bmi값 저장하기 -->
	<insert id="saveBmi" parameterType="PersonVO">
		insert into person
		(ref,height,weight,result)
		values
		(#{ref},#{height},#{weight},#{result})
	</insert>

	<!-- 2) bmi값 가져오기 -->
	<select id="getBmi" parameterType="int" resultType="PersonVO">
		select
		height,weight,result,regDate
		from
		person
		where
		ref = #{idx}
	</select>

	<!-- 3) bmi값 삭제하기 -->
	<delete id="deleteBmi" parameterType="int">
		delete from person where
		idx=#{idx}
	</delete>

	<!-- 3) bmi값 전체삭제하기 -->
	<delete id="deleteAllBmi" parameterType="int">
		delete from person where
		ref=#{ref}
	</delete>

</mapper>